<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, minimum-scale=1, initial-scale=1, user-scalable=yes">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/@shoelace-style/shoelace@2.0.0-beta.69/dist/themes/light.css">
    <link rel='stylesheet' href='/bundle.css' />
    <script type="module" src="/bundle.js"></script>
    <title>Error</title>
  </head>
  <body class="body--error">
    <h1>The app encountered an error.</h1>
  </body>
</html>
