*,
*::before,
*::after {
  box-sizing: border-box;
}

:root {
  --color-success: #00C642;
}

body:not(.body--landing) {
  padding: 2rem;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
  max-width: 1024px;
  margin: auto;
}

a {
  color: #00B7FF;
}

form {
  margin-top: 4rem;
}

.pages {
  padding: 0;
  list-style: none;
  display: grid;
  margin-top: 1rem;

  li {
    width: 100%;
    display: grid;
    gap: 1rem;
    align-items: center;
    grid-template-columns: 1fr auto auto;
    flex-direction: column;
    padding: 0.75rem 1.5rem;
    margin-top: 1.5rem;
    border: 1px solid lightgray;
  }

  @media screen and (min-width: 640px) {
    li {
      flex-direction: row;
    }
  }

  li:nth-child(odd) {
    background: rgba(0,0,0,0.025);
  }

  nav {
    display: flex;
    gap: 1rem;
  }

  small {
    display: block;
    font-weight: normal;
  }
}

.body--landing {
  margin: 0;
}
