*,
*::before,
*::after {
  box-sizing: border-box;
}

body {
  padding: 2rem;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}

a {
  color: #00B7FF;
}

form {
  margin-top: 4rem;
}

.pages {
  padding: 0;
  list-style: none;
  display: grid;
  margin-top: 1rem;

  li {
    width: 100%;
    display: flex;
    gap: 1rem;
    align-items: center;
    justify-content: space-between;
    flex-direction: column;
    padding: 0.5rem 1rem;
    margin-top: 1.5rem;
    border: 1px solid gray;
  }

  @media screen and (min-width: 640px) {
    li {
      flex-direction: row;
    }
  }

  li:nth-child(odd) {
    background: rgba(0,0,0,0.05);
  }

  h3 {
    margin: 0 0 0.25rem 0;
  }

  nav {
    display: flex;
    gap: 0.5rem;
  }
}
